body{
    margin: 0;
    background: #F3F7FF;
}

.container{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
}

ul, ol {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}


.header-link{
    text-decoration: none;
    font-size: 18px;
    line-height: 23px;
    color: #1F1534;
    opacity: 0.5;
    padding: 0 15px;
}

.header-active{
    color: #1F1534;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25); 
    opacity: 1;
}

.header-nav{
    display: inline-block;
    vertical-align: middle;
    margin-left: 512px;
   
}
.header-list{
    display: inline-block;
}

.header-logo{
    vertical-align: middle;
}

.row{
    padding-top: 134px;
    padding-bottom: 83px;
}

.hero-left{
    display: inline-block;
    width: 445px;
    vertical-align: top;
    margin-top: 120px;
}

.hero-img{
    vertical-align: top;
}

.hero-left-title{
    font-size: 48px;
    color: #000000;
}

.hero-left-link{
    text-decoration: none;
    border-radius: 55px;
    color: #ffffff;
    background: #458FF6;
    padding: 10px 20px;
    display: inline-block;
}

.hero-left-text{
    font-size: 21px;
    color: #7D7987;
    margin-top: 24px;
    margin-bottom: 52px;
}

.title-service{
    text-align: center;
    font-size: 36px;
    margin-top: 113px;
}

.line-servise{
    border-radius: 5px;
    background: #000000;
    width: 56px;
    height: 2px;
    margin-top: 26px;
    display: inline-block;
    margin-left: 47%;
}
 .sevice-text{
    margin-top: 33px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    display: inline-block;
    padding: 0px 150px 0px 150px;
   

 }

 .sevice-table-border{
    border-radius: 20px;
    display: inline-block;
    width: 330px;
    height: 340px;
    background: #ffffff;
    margin: 30px;
    vertical-align: middle;
}

 .sevice-table{
   margin-top: 80px;

}

.next{
    margin-top: 0px;
}

.service-box{
    vertical-align: middle;
}

.service-table-title{
    font-size: 24px;
    margin-top: 22px;
    margin-bottom: 2px;
    margin-left: 39px;
    
    
}

.img-icon{
    margin: 54px 0 0 37px;
}

.service-table-text{
    margin: 2px 47px 45px 39px;
    color: #7D7987;
}

.service-link{
    text-decoration: none;
    border-radius: 55px;
    color: #458FF6;
    background: #ffffff;
    padding: 10px 20px;
    display: inline-block;
    border: 2px solid #458FF6;
    margin-left: 44%;
}

.row-middle{
    display: inline-block;
    margin-left: 142px;
    vertical-align: top;
    margin-top: 250px;
}

.line-right{
    border-radius: 5px;
    background: #000000;
    width: 56px;
    height: 2px; 
    display: inline-block;
    margin-top: 26px;
    margin-bottom: 31px;
}

.img-title{
    font-size: 36px;
}

.text-right{
    font-size: 18px;
    color: #7D7987;
}

.img-right{
    margin-top: 150px;
}

.img-left{
    margin-top: 150px;
    margin-left: 37px;
}

.link-right{
    text-decoration: none;
    border-radius: 55px;
    color: #458FF6;
    background: #ffffff;
    padding: 10px 20px;
    display: inline-block;
    border: 2px solid #458FF6;
    margin-top: 37px;
    
}

.link-left{
    text-decoration: none;
    border-radius: 55px;
    color: #458FF6;
    background: #ffffff;
    padding: 10px 20px;
    display: inline-block;
    border: 2px solid #458FF6;
    margin-top: 37px;
}

.link-left-icon{
    vertical-align: middle;
    margin-left: 5px;
    
}

.edward-about{
    border-radius: 24px;
    width: 1120px;
    height: 425px;
    background: linear-gradient(#67C3F3, #5A98F2);
    margin-left: auto;
    margin-right: auto;
    margin-top: 330px;
}

.edward-title{
    font-size: 36px;
    color: #ffffff;
    text-align: center;
    padding-top: 64px;
}

.edward-title-line{
    border-radius: 6px;
    background: #ffffff;
    width: 56px;
    height: 2px; 
    display: inline-block;
    margin-top: 26px;
    margin-bottom: 31px;
    margin-left: 48%;
}

.img-name{
    display: flex;
    margin-left: 100px;
    margin-top: 50px;
}


.edward-name{
    margin-top: 50px;
    margin-left: 50px;
}

.name{
    font-size: 22px;
    color: #ffffff;
}

.founder{
    color: #ffffff;
    font-size: 18px;
    margin-top: 10px;
}

.edward-about-text{
    color: #ffffff;
    font-size: 22px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: 80px;
    
}

.point{
    border-radius: 100%;
    background: #458FF6;
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-left: 9px;
}

.indicator-left{
    margin-top: 50px;
    display: inline-block;
    margin-left: 430px;
}


.indicator{
    padding-left: 35px;
    padding-right: 30px;
    vertical-align: middle;
}

.article-page{
    display: inline-block;
}


.article-title{
    font-size: 25px;
    margin-left: 450px;
    margin-bottom: 26px;
    margin-top: 224px; 
    display: inline block;   
    
}

.article-title-line{
    border-radius: 5px;
    background: #000000;
    width: 56px;
    height: 2px;
    margin-top: 26px;
    display: inline-block;
    margin-left: 47%;
    margin-bottom: 72px;
}

.article-list-page{
    border-radius: 20px;
    width: 350px;
    height: 450px;
    border-color: #5A98F2;
    background: #ffffff;
    display: inline-block;
    margin-left: 30px;
    margin-right: 10px;

   
}

.article-list{
    display: inline-block;
   
   
}

.article-list-title{
    margin-top: 21px;
    margin-left: 33px;
    margin-right: 66px;
    font-size: 21px;
}

.article-list-text{
    font-size: 16px;
    color: #7D7987;
    margin-top: 12px;
    margin-left: 33px;
    margin-right: 51px;
}

.article-link{
    font-size: 18px;
    color: #4089ED;
    margin-left: 33px;
    margin-top: 10px;
}

.article-img{
    
    width: 350px;
    height: 240px;
    border-radius: 20px;
}

.article-button{
    text-decoration: none;
    border-radius: 55px;
    color: #458FF6;
    background: #ffffff;
    padding: 10px 20px;
    display: inline-block;
    border: 2px solid #458FF6;
    margin-left: 44%;
    margin-top: 72px;
    margin-bottom: 202px;
    
}



.trafalgar-about{
    width: 1200px;
    height: 350px;
    background: linear-gradient(#67C3F3, #5A98F2);
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;

}

.ellipse{
    width: 41px;
    height: 41px;
    border-radius: 100%;
    background: #ffffff;
    display: inline-block;
    text-align: center;
    margin-top: 100px;
    margin-left: 100px;
}

.icon{
    padding-top: 11px;
    display: inline-block;
}

.icon-text{
    vertical-align: middle;
    padding-left: 10px;
}

.footer-text{
    font-size: 18px;
    color: #ffffff;
    margin-top: 22px;
    margin-left: 100px;
    
}



.trafalgar-list{
    display: flex;
}

.trafalgar-icon-text{
    display: inline;
    vertical-align: middle;
}

.company{
    color: #ffffff;
    margin-top: 109px;
    padding-left: 100px;
    padding-right: 60px;
    font-size: 20px;
}
.links{
    color: #ffffff;
    padding-left: 100px;
    padding-top: 20px;
    padding-right: 60px;
    font-size: 17px;
}

.company-link{
    color: #ffffff;
}







